body{
  background-color: rgb(190, 230, 230);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: rgb(67, 165, 226);
  width: 70vw;
  max-width: 900px;

  margin: 10px auto;
  padding: 15px;

  border-radius: 15px;
}

#nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 8px;
  transition: 0.3s ease;
}
